(
    // A list of all possible contracts that can be generated in the game.
    // the reputation refers to the reputation unlock of the sinks that will offer the contract
    contracts: [
        (
            id: 1,
            name: "Beginner's Data Run",
            description: "A simple task for a new runner. Deliver the specified data package.",
            faction: Academia,
            reputation: Hostile,
            base_threshold: 50.0,
            base_money: 10.0,
            dataset: (
                contents: {
                    Biometric: [],
                }
            ),
        ),
        (
            id: 2,
            name: "Corporate Espionage",
            description: "Acquire sensitive corporate data. High risk, high reward.",
            faction: Criminal,
            reputation: Hostile,
            base_threshold: 200.0,
            base_money: 50.0,
            dataset: (
                contents: {
                    Economic: [ Aggregated ],
                    Behavioural: [],
                }
            ),
        ),
        (
            id: 3,
            name: "Government Compliance Audit",
            description: "Verify and deliver a large dataset for government records.",
            faction: Government,
            reputation: Hostile,
            base_threshold: 250.0,
            base_money: 100.0,
            dataset: (
                contents: {
                    Telemetry: [],
                    Biometric: [ Cleaned ],
                }
            ),
        ),
    ]
)